{% extends "base.html" %}


{% block content %}
   <div class=>
       <div>
           <h2>User Dashboard</h2>
           <p>Welcome to Canary, simple regular user.</p>
           <p>Here is your dashboard.</p>
           <p>Your name: {{ user.first_name }} {{ user.last_name }}</p>
           <p>Your username: {{ user.username }}</p>
           <p>Your email: {{user.email }}</p>
           <div class="container mt-5">
               <form method="post" action="{% url 'communities:create_community' %}">
                   {% csrf_token %}
                   <input type="hidden" name="user_id" value="{{ user.id }}">
                   <button type="submit" class="btn btn-primary">Create Community</button>
               </form>
           </div>
           <div class="container mt-5">
               <form method="post" action="{% url 'communities:join_a_community' %}">
                   {% csrf_token %}
                   <input type="hidden" name="user_id" value="{{ user.id }}">
                   <button type="submit" class="btn btn-primary">Join a Community</button>
               </form>
           </div>
       </div>
       <div>
           {% if user_communities %}
               {% for community_member in user_communities %}
               <div
                   key="{{ community.id }}"
                   style="border: 1px solid;border-radius: 0.5rem;padding: 1rem;margin: 1rem;"
               >
                   <h2>{{community_member.community.name}}</h2>
                   <p>{{community.description}}</p>
                   <a href="{%}">View community</a>
                   <!-- ^TODO: need to get url into community dashboard working -->
               </div>
               {% endfor %}
           {% endif %}
       </div>
   </div>
{% endblock %}
