{% extends "base.html" %}
{% block content %}
<div class="container mx-auto py-10">
    <div class="flex justify-center">
        <div class="w-full max-w-2xl">
            <div class="bg-gray-900 shadow-lg rounded-lg overflow-hidden">
                <div class="px-8 py-6 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white">
                    <h2 class="text-3xl font-semibold text-center">User Dashboard</h2>
                    <div class="mt-4 text-center">
                        <p>Your name: {{ user.first_name }} {{ user.last_name }}</p>
                        <p>Your username: {{ user.username }}</p>
                        <p>Your email: {{ user.email }}</p>
                    </div>
                </div>
                <div class="bg-gray-800 px-8 pt-6 pb-8">
                    <div class="flex justify-center mt-4">
                        <form method="post" action="{% url 'communities:create_community' %}">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <button type="submit"
                                class="bg-indigo-400 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out">
                                Create Community
                            </button>
                        </form>
                    </div>
                    <!-- User Communities -->
                    {% if user_communities %}
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
                        {% for community_member in user_communities %}
                        <div
                            class="bg-gray-700 border border-gray-600 rounded-lg p-4 text-white hover:bg-gray-600 transition duration-150 ease-in-out">
                            <h3 class="text-xl">{{ community_member.community.name }}</h3>
                            <p class="mt-1">{{ community.description }}</p>
                            <a href="{% url 'communities:dashboard' community_member.community.id %}"
                                class="inline-block mt-4 text-blue-400 hover:text-blue-300">
                                View community
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}