{% extends "base.html" %}

{% block content %}
    <h2>User Dashboard</h2>
    <p>Welcome to Canary, simple regular user.</p>
    <p>Here is your dashboard.</p>
    <p>Your name: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Your username: {{ user.username }}</p>
    <p>Your email: {{user.email }}</p>
    <div class="container mt-5">
        <form method="post" action="{% url 'communities:create_community' %}">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <button type="submit" class="btn btn-primary">Create Community</button>
        </form>
    </div>
{% endblock %}