{% extends "base.html" %}
{% block content %}
<div class="container mx-auto mt-5">
    <h2 class="mb-2 text-xl text-center text-white">User Dashboard</h2>
    <div class="card-body text-white flex justify-center">
        <p>Your name: {{ user.first_name }} {{ user.last_name }}</p>
    </div>
    <div class="card-body text-white flex justify-center">
         <p>Your username: {{ user.username }}</p>
    </div>
    <div class="card-body text-white flex justify-center">
        <p>Your email: {{ user.email }}</p>
    </div>

    <div class="flex justify-center">
        <div class="w-full max-w-md flex">
            <div class="bg-lc-800 shadow-md rounded px-8 pt-6 pb-8 mb-4 w-1/2 pr-2">
                <p>{{ "You are an admin in these communities" }}</p>
                {% if admin_communities %}
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                        {% for community_member in admin_communities %}
                            <div class="bg-lc-700 border border-gray-600 rounded-lg p-4 text-white">
                                <h2>{{ community_member.community.name }}</h2>
                                <p>{{ community.description }}</p>
                                <a href="{% url 'communities:dashboard' community_member.community.id %}"
                                   class="text-xs text-blue-500 hover:text-blue-800">View community</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="bg-lc-800 shadow-md rounded px-8 pt-6 pb-8 mb-4 w-1/2 pl-2">
                <p>{{ "You are a member of these communities" }}</p>
                {% if user_communities %}
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                        {% for community_member in user_communities %}
                            <div class="bg-lc-700 border border-gray-600 rounded-lg p-4 text-white">
                                <h2>{{ community_member.community.name }}</h2>
                                <p>{{ community.description }}</p>
                                <a href="{% url 'communities:dashboard' community_member.community.id %}"
                                   class="text-blue-500 hover:text-blue-800">View community</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </div>

    </div>


    <div class="w-auto h-auto mx-auto flex justify-around">
        <div class="mt-5">
            <form method="post" action="{% url 'communities:create_community' %}">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <button type="submit"
                        class="bg-gray-500 text-white font-bold py-2 px-4 rounded hover:bg-primary-green hover:text-lc-700 focus:shadow-outline transition duration-150 ease-in-out">
                    Create Community
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}