{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mx-auto mt-10 text-center">
    <h1 class="text-4xl font-bold text-white mb-4">Welcome to Canary</h1>
    <p class="text-lg text-gray-200 mb-4">
        Canary is a vibrant community where you get to snitch without getting stitches (here's hoping).
    </p>
    <!-- SVG Container with Tilt Effect -->
    <div id="svg-tilt-container" class="tilt" data-tilt data-tilt-max="25" data-tilt-glare="true"
        data-tilt-max-glare="0.5">
        <img src="{% static 'images/shushing-face-svgrepo-com.svg' %}" alt="Shushing Face" width="400" height="400">
    </div>
    <div class="flex justify-center mt-8">
        <a href="{% url 'account_signup' %}"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4">Join Now</a>
        <a href="{% url 'account_login' %}"
            class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">Log In</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vanilla-tilt@1.7.0"></script>
<script>
    document.addEventListener( 'DOMContentLoaded', function () {
        VanillaTilt.init( document.querySelector( "#svg-tilt-container" ), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare": 0.5
        } );
    } );
</script>
<style>
    #svg-tilt-container {
        width: 300px;
        /* Adjust size based on your design needs */
        height: 300px;
        /* Adjust size based on your design needs */
        margin: 20px auto;
        /* Centering the SVG container */
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}