{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <div class="container mx-auto mt-5">
        <div class="flex justify-center">
            <div class="w-full max-w-md">
                <div class="bg-lc-800 shadow-md rounded px-8 pt-6 pb-8 mb-4">
                    <div class="mb-4">
                        <h2 class="text-center text-white">{% trans "Sign In" %}</h2>
                    </div>
                    <div class="card-body text-white">
                        <p class="text-center">
                            {% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}" class="text-primary-green hover:text-primary-purple">sign up</a> first.{% endblocktrans %}
                        </p>
                        <form method="post"
                              action="{% url 'account_login' %}"
                              class="entrance login">
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                                {% if field.field.widget.input_type != 'checkbox' %}
                                    <!-- Regular Input -->
                                    <div class="mb-4">
                                        <label for="{{ field.id_for_label }}"
                                               class="block text-gray-200 text-sm font-bold mb-2">
                                            {{ field.label }}:
                                        </label>
                                        <div class="mt-1 relative rounded-md">
                                            <input id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="{{ field.field.widget.input_type }}" class="py-1 px-2 text-button-text block w-full form-input rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 {{ field.errors|yesno:'border-red-500,' }} text-gray-900" {% if field.field.widget.attrs.placeholder %}placeholder="{{ field.field.widget.attrs.placeholder }}"{% endif %} {% if field.value %}value="{{ field.value|stringformat:'s' }}"{% endif %} {% for attr, value in field.field.widget.attrs.items %} {% if attr != 'placeholder' %}{{ attr }}="{{ value }}"{% endif %} {% endfor %}>
                                        </div>
                                        {{ field.errors }}
                                    </div>
                                {% else %}
                                    <!-- Checkbox -->
                                    <div class="mb-4 flex items-center">
                                        <label for="{{ field.id_for_label }}"
                                               class="text-gray-200 text-sm font-bold mr-2">{{ field.label }}:</label>
                                        <input id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="{{ field.field.widget.input_type }}" class="form-checkbox text-indigo-600 rounded border-gray-300 {{ field.errors|yesno:'border-red-500,' }} focus:border-indigo-300 focus:ring focus:ring-opacity-50" {% if field.value %}value="{{ field.value|stringformat:'s' }}"{% endif %} {% for attr, value in field.field.widget.attrs.items %} {% if attr != 'type' and attr != 'class' %}{{ attr }}="{{ value }}"{% endif %} {% endfor %}>
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% if form.non_field_errors %}
                                <div class="mb-4">
                                    <p class="text-xs text-red-500">{{ form.non_field_errors }}</p>
                                </div>
                            {% endif %}
                            <div class="flex items-center justify-between">
                                <button type="submit"
                                        class="w-full bg-orange-400 text-white font-bold py-2 px-4 rounded hover:bg-orange-800 hover:text-lc-700 focus:shadow-outline transition duration-150 ease-in-out">
                                    {% trans "Sign In" %}
                                </button>
                            </div>
                            <div class="mt-4 text-center">
                                <a href="{% url 'account_reset_password' %}"
                                   class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
                                    {% trans "Forgot your password?" %}
                                </a>
                            </div>
                        </form>
                        {% if SOCIALACCOUNT_ENABLED %}
                            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
