{% extends "base.html" %}
{% load i18n allauth account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<div class="bg-gray-900 mt-4 flex items-center justify-center">
  <div class="w-full max-w-md bg-gray-800 shadow-md rounded-lg overflow-hidden">
    <div class="px-8 py-6">
      <h1 class="text-2xl font-bold text-gray-100 mb-4 text-center">{% trans "Password Reset" %}</h1>
      {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
      {% else %}
          <!-- <p class="text-gray-300 mb-4">
              {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
          </p> -->
          <form method="post" action="{% url 'account_reset_password' %}" class="entrance reset-password">
              {% csrf_token %}
              {% for field in form.visible_fields %}
              <div class="mb-4">
                  <label for="{{ field.id_for_label }}" class="block text-gray-300 text-sm font-bold mb-2">
                      {{ field.label }}:
                  </label>
                  <input id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="{{ field.field.widget.input_type }}"
                         class="py-2 px-3 block w-full bg-gray-700 border-gray-600 rounded-md text-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"
                         {% if field.field.widget.attrs.placeholder %}placeholder="{{ field.field.widget.attrs.placeholder }}" {% endif %}>
                  {{ field.errors }}
              </div>
              {% endfor %}
              <div class="flex items-center justify-between">
                  <button type="submit" 
                          class="w-full border text-gray-100 font-bold py-2 px-4 rounded hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50 transition duration-150 ease-in-out">
                      {% trans 'Reset My Password' %}
                  </button>
              </div>
          </form>
          <p class="mt-4 text-center text-gray-300">
              {% trans "Please contact us if you have any trouble resetting your password." %}
          </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
