{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block content %}
    <div class="container mx-auto mt-5">
        <div class="flex justify-center">
            <div class="w-full max-w-3xl">
                <h2 class="mb-2 text-xl text-center text-white">Password Reset</h2>
                <form method="post" action="{% url 'socialaccount_reset_password' %}">
                    {% csrf_token %}
                    {{ form.email }}
                     <button type="submit">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
{%endblock %}

