{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">{% trans "Sign Up" %}</h3>
                </div>
                <div class="card-body">
                    <p class="text-center">
                        {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
                            You are about to use your {{provider_name}} account to login to Canary.
                            As a final step, please complete the following form:
                        {% endblocktrans %}
                    </p>
                    {% url 'socialaccount_signup' as action_url %}
                    {% element form form=form method="post" action=action_url %}
                      {% slot body %}
                          {% csrf_token %}
                          {% element fields form=form unlabeled=True %}
                          {% endelement %}
                          {% if redirect_field_value %}
                              <input type="hidden"
                                     name="{{ redirect_field_name }}"
                                     value="{{ redirect_field_value }}" />
                          {% endif %}
                      {% endslot %}
                      {% slot actions %}
                        <button type="submit" class="btn btn-primary btn-block">{% trans "Sign Up" %}</button>
                      {% endslot %}
                  {% endelement %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}