{% extends "base.html" %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Community Members</title>
    </head>
    <body>
        <h1>Community Members</h1>
        <ul>
            {% for member in community_member %}
                <li>{{ member.member.username }}{% if member.is_admin %} (Admin){% endif %} -
                    <form method="post" action="{% url 'communities:remove_member' community_id member.member.id%}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <button type="submit" class="btn btn-primary">remove</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </body>
{% endblock %}


