{% extends "base.html" %}

{% block content %}
<div class="bg-gray-900 mt-4 flex items-center justify-center" xmlns="http://www.w3.org/1999/html">
    <div class="w-full max-w-5xl bg-gray-800 shadow-md rounded-lg overflow-hidden p-6">
        <div class="mb-6">
            <h1 class="text-3xl font-bold text-gray-100">Community Members</h1>
        </div>
        <div class="bg-gray-700 rounded-lg">
            <ul class="divide-y divide-gray-600">
                {% for member in community_member %}
                <li
                    class="py-3 px-4 flex justify-between items-center {% if member.member.email == user.email %}bg-gray-600{% endif %}">
                    <div class="flex items-center">
                        <div class="text-gray-300 hover:text-white transition-colors">
                            {{ member.member.username }}
                        </div>
                    </div>
                    <div class="flex items-center space-x-2">
                        {% if member.is_owner %}
                        <span class="bg-red-500 text-white text-xs font-semibold px-2.5 py-0.5 rounded">Owner</span>
                        {% elif member.is_admin %}
                        <span class="bg-blue-500 text-white text-xs font-semibold px-2.5 py-0.5 rounded">Admin</span>
                        {% else %}
                        <span class="bg-gray-500 text-white text-xs font-semibold px-2.5 py-0.5 rounded">Member</span>
                        {% endif %}
                        {% if can_remove and not member.is_admin %}
                        <form method="post" action="{% url 'communities:remove_member' community_id member.member.id %}"
                            enctype="multipart/form-data" class="inline-block">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <button type="submit"
                                class="bg-red-600 text-white text-sm py-1 px-4 rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 transition duration-150 ease-in-out">Remove</button>
                        </form>
                        {% endif %}
                        {% if user_role == 'owner' %}
                        <form method="post"
                            action="{% url 'communities:change_admin_status' community_id member.member.id %}"
                            enctype="multipart/form-data" class="inline-block">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            {% if member.is_admin %}
                                {% if member.is_owner %}
                                    <a href="{% url 'communities:make_owner' community_id member.member.id %}"
                                        class="bg-blue-500 text-white text-sm py-1 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition duration-150 ease-in-out">Make New Owner </a>
                                {% else %}
                                    <button type="submit"
                                        class="bg-yellow-500 text-white text-sm py-1 px-4 rounded hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 transition duration-150 ease-in-out">Demote</button>
                                {% endif %}
                            {% else %}
                            <button type="submit"
                                class="bg-gray-300 text-white text-sm py-1 px-4 rounded hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 transition duration-150 ease-in-out">Promote</button>
                            {% endif %}
                        </form>
                        {% endif %}
                    </div>
                </li>

                {% empty %}
                <li class="py-3 px-4 text-gray-300">No members in this community yet.</li>
                {% endfor %}
            </ul>
        </div>

        <a href="{% url 'communities:dashboard' community_id %}"
            class="bg-blue-500 hover:bg-blue-700 mt-8 text-white font-bold py-2 px-4 rounded inline-flex items-center">
            Go Back
        </a>
    </div>
</div>
{% endblock %}