{% extends "base.html" %}
{% block content %}
    <div class="container mx-auto mt-8">
        <h1 class="text-3xl font-bold text-center text-white mb-8">{{ community.name }}</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="p-3 border border-gray-600 rounded-lg md:col-span-1">
                <div class="flex justify-between">
                    <h2 class="text-2xl font-semibold text-primary-red mb-4">Community Reports</h2>
                    <a href="{% url 'communities:create_report' community.id %}"
                       class="inline-flex items-center justify-center bg-lc-orange text-white p-2 rounded mb-4 hover:bg-gray-500 transition-colors">
                        <svg class="w-5 h-5 mr-2"
                             fill="none"
                             stroke="currentColor"
                             viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z">
                            </path>
                        </svg>
                        Create Report
                    </a>
                </div>
                <ul class="divide-y divide-lc-med-dark">
                    {% for report in reports %}
                        <li class="py-4">
                            <a href="{% url 'communities:view_report' community.id report.id %}"
                               class="text-lc-bright hover:text-lc-orange transition-colors">{{ report.title }}</a>
                        </li>
                    {% empty %}
                        <li class="py-4 text-lc-bright">No reports submitted to this community.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="p-3 border border-gray-600 rounded-lg">
                <div class="flex items-center justify-between">
                    <h2 class="text-orange-800 text-2xl font-semibold mb-4">Community Information</h2>
                    <a href="#"
                       class="inline-flex items-center justify-center bg-lc-orange text-white p-2 rounded mb-4 hover:bg-gray-500 transition-colors">
                        <svg class="w-5 h-5 mr-2"
                             fill="none"
                             stroke="currentColor"
                             viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z">
                            </path>
                        </svg>
                        Edit Community
                    </a>
                </div>
                <div class="bg-lc-med-dark rounded-lg">
                    <h5 class="text-lg font-semibold text-white mb-2">
                        <strong>Name:</strong> {{ community.name }}
                    </h5>
                    <p class="text-white mb-4">
                        <strong>Description:</strong> {{ community.description }}
                    </p>
                    <div class="text-lc-bright mb-4">
                        <p>Created at: {{ community.created_at }}</p>
                        <p>Updated at: {{ community.updated_at }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
