{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="bg-gray-900 mt-4 flex items-center justify-center">
    <div
        class="w-full max-w-5xl bg-gray-800 shadow-md rounded-lg overflow-hidden grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
        <div class="col-span-1 bg-gray-700 rounded-lg p-4">
            <h2 class="text-2xl font-bold text-gray-100 mb-4">Community Members</h2>
            <ul class="divide-y divide-gray-600">
                {% for member in members %}
                <li
                    class="py-3 px-2 text-gray-300 hover:bg-gray-600 hover:text-white transition-colors rounded-md flex justify-between items-center">
                    <div>
                        {{ member.member.username }}
                        {% if member.member.email == user.email %}
                        (You)
                        {% endif %}
                    </div>
                    <div>
                        {% if member.is_owner %}
                        <span class="bg-red-500 text-white text-xs font-semibold px-2.5 py-0.5 rounded">Owner</span>
                        {% elif member.is_admin %}
                        <span class="bg-blue-500 text-white text-xs font-semibold px-2.5 py-0.5 rounded">Admin</span>
                        {% else %}
                        <span class="bg-gray-500 text-white text-xs font-semibold px-2.5 py-0.5 rounded">Member</span>
                        {% endif %}
                        {% if can_remove and not member.is_admin %}
                        <form method="post" action="{% url 'communities:remove_member' community_id member.member.id %}"
                            enctype="multipart/form-data" class="inline-block">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <button type="submit"
                                class="bg-red-600 text-white text-sm py-1 px-4 rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 transition duration-150 ease-in-out">Remove</button>
                        </form>
                        {% endif %}
                        {% if user_role == 'owner' %}
                        <form method="post"
                            action="{% url 'communities:change_admin_status' community_id member.member.id %}"
                            enctype="multipart/form-data" class="inline-block">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            {% if member.is_admin %}
                            <button type="submit"
                                class="bg-yellow-500 text-white text-sm py-1 px-4 rounded hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50 transition duration-150 ease-in-out mx-2">Demote</button>
                            {% else %}
                            <button type="submit"
                                class="bg-green-500 text-white text-sm py-1 px-4 rounded hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 transition duration-150 ease-in-out mx-2">Promote</button>
                            {% endif %}
                        </form>
                        {% endif %}
                    </div>
                </li>
                {% empty %}
                <li class="py-3 text-gray-300">No members in this community yet.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-span-2 grid grid-rows-2 gap-6">
            <div class="bg-gray-700 rounded-lg p-4">
                <div class="flex justify-between items-center">
                    <h2 class="text-2xl font-bold text-gray-100 mb-4">
                        {% if is_admin %}
                        Community Reports
                        {% else %}
                        Your Reports
                        {% endif %}
                    </h2>
                    <a href="{% url 'communities:create_report' community.id %}"
                        class="inline-flex items-center justify-center bg-orange-500 text-white p-2 rounded hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50 transition duration-150 ease-in-out">
                        <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                        Create Report
                    </a>
                </div>
                <ul class="divide-y divide-gray-600">
                    {% for report in reports %}
                    <li
                        class="py-3 px-2 mt-1 text-gray-300 hover:bg-gray-600 hover:text-white transition-colors rounded-md">
                        <a href="{% url 'communities:view_report' community.id report.id %}"
                            class="text-gray-300 hover:text-white transition-colors">{{ report.title }}</a>
                        <span class="float-right text-gray-300">{{ report.get_status_display }}</span>
                    </li>
                    {% empty %}
                    <li class="py-3 text-gray-300">No reports submitted to this community.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="bg-gray-700 rounded-lg p-4">
                <!-- Enhanced Community Information with Dropdown or More Interactivity -->
                <div class="bg-gray-700 rounded-lg p-4 relative" x-data="{ isOpen: false }">
                    <div class="flex justify-between items-center">
                        <h2 class="text-2xl font-bold text-gray-100 mb-4">Community Information</h2>
                        <!-- Dropdown Trigger Button -->
                        <div class="dropdown inline-block relative">
                            <button
                                class="bg-orange-500 text-white p-2 rounded hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50 transition duration-150 ease-in-out"
                                @click="isOpen = !isOpen">
                                More Actions
                                <svg class="w-4 h-4 ml-2 inline" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </button>
                            <!-- Dropdown Menu -->
                            <div class="absolute right-0 mt-2 py-2 w-48 bg-gray-200 rounded-md shadow-xl z-20"
                                x-show="isOpen" x-transition>
                                <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300" href="#"
                                    onclick="openAnonPopup(); isOpen = false">Create Anonymous Submission Link</a>
                                <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300" href="#"
                                    onclick="openInvitePopup(); isOpen = false">Invite Members</a>
                                <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-300" href="#"
                                    onclick="isOpen = false">Edit Community</a>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="bg-gray-600 rounded-lg p-4">
                    <h5 class="text-lg font-semibold text-gray-100 mb-2">
                        <strong>Name:</strong> {{ community.name }}
                    </h5>
                    <p class="text-gray-300 mb-4">
                        <strong>Description:</strong> {{ community.description }}
                    </p>
                    <div class="text-gray-400 mb-4">
                        <p>Created at: {{ community.created_at }}</p>
                        <p>Updated at: {{ community.updated_at }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Anonymous Submission Popup -->
<div id="anonymousPopup" class="fixed inset-0 bg-gray-400 bg-opacity-10 flex items-center justify-center hidden">
    <div
        class="bg-white rounded-lg max-w-lg w-full mx-auto p-8 space-y-6 shadow-xl transition-transform transform scale-95">
        <h2 class="text-2xl font-semibold text-gray-800">Create Anonymous Submission Link</h2>
        <form id="anonymousForm" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="num_submissions" class="text-sm font-medium text-gray-700">Maximum Number of Submissions (0
                    for unlimited):</label>
                <input type="number" name="num_submissions" id="num_submissions"
                    class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">
            </div>
            <div>
                <label for="anon_expiration" class="text-sm font-medium text-gray-700">Expiration:</label>
                <select id="anon_expiration" name="anon_expiration"
                    class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">
                    <option value="1h">1 Hour</option>
                    <option value="1d">1 Day</option>
                    <option value="1w">1 Week</option>
                    <option value="1m">1 Month</option>
                    <option value="never">Never</option>
                </select>
            </div>
            <div class="flex justify-end space-x-2">
                <button type="button" onclick="closeAnonPopup()"
                    class="px-4 py-2 bg-gray-300 text-gray-800 rounded-md hover:bg-gray-400 focus:outline-none">Cancel</button>
                <button type="submit"
                    class="px-4 py-2 bg-blue-500 text-black hover:text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Generate
                    Link</button>
            </div>
        </form>
    </div>
</div>

<!-- Invite Members Popup -->
<div id="invitePopup" class="fixed inset-0 bg-gray-400 bg-opacity-10 flex items-center justify-center hidden">
    <div
        class="bg-white rounded-lg max-w-lg w-full mx-auto p-8 space-y-6 shadow-xl transition-transform transform scale-95">
        <h2 class="text-2xl font-semibold text-gray-800">Create Invite Link</h2>
        <form id="inviteForm" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="num_invites" class="text-sm font-medium text-gray-700">Maximum Number of Uses (0 for
                    unlimited):</label>
                <input type="number" name="num_invites" id="num_invites"
                    class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">
            </div>
            <div>
                <label for="expiration" class="text-sm font-medium text-gray-700">Expiration:</label>
                <select id="expiration" name="expiration"
                    class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">
                    <option value="1h">1 Hour</option>
                    <option value="1d">1 Day</option>
                    <option value="1w">1 Week</option>
                    <option value="1m">1 Month</option>
                    <option value="never">Never</option>
                </select>
            </div>
            <div class="flex justify-end space-x-2">
                <button type="button" onclick="closeInvitePopup()"
                    class="px-4 py-2 bg-gray-300 text-gray-800 rounded-md hover:bg-gray-400 focus:outline-none">Cancel</button>
                <button type="submit"
                    class="px-4 py-2 bg-blue-500 text-black hover:text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Generate
                    Link</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    document.addEventListener( 'DOMContentLoaded', function () {
        // Access the button that toggles the dropdown
        const toggleButton = document.querySelector( '.dropdown button' );
        const dropdownMenu = document.querySelector( '.dropdown div' );

        // Function to toggle dropdown open/close
        function toggleDropdown() {
            const isOpen = dropdownMenu.style.display === 'block';
            dropdownMenu.style.display = isOpen ? 'none' : 'block';
        }

        // Event listener for the dropdown toggle button
        toggleButton.addEventListener( 'click', function () {
            toggleDropdown();
        } );
        
        // Close the dropdown when clicking on any dropdown item
        dropdownMenu.querySelectorAll( 'a' ).forEach( item => {
            item.addEventListener( 'click', function () {
                dropdownMenu.style.display = 'none'; // Forcefully hide the dropdown
            } );
        } );

        // Optional: Close the dropdown by clicking outside of it
        document.addEventListener( 'click', function ( event ) {
            if ( !toggleButton.contains( event.target ) && !dropdownMenu.contains( event.target ) ) {
                dropdownMenu.style.display = 'none'; // Hide the dropdown if click outside of dropdown
            }
        } );
    } );


    function openInvitePopup() {
        document.getElementById( 'invitePopup' ).classList.remove( 'hidden' );
    }

    function closeInvitePopup() {
        document.getElementById( 'invitePopup' ).classList.add( 'hidden' );
    }

    function openAnonPopup() {
        document.getElementById( 'anonymousPopup' ).classList.remove( 'hidden' );
    }

    function closeAnonPopup() {
        document.getElementById( 'anonymousPopup' ).classList.add( 'hidden' );
    }

    // Function to copy invite link to clipboard
    function copyToClipboard( text ) {
        const input = document.createElement( 'input' );
        input.style.position = 'fixed';
        input.style.opacity = 0;
        input.value = text;
        document.body.appendChild( input );
        input.select();
        document.execCommand( 'copy' );
        document.body.removeChild( input );
    }

    // Add event listener to form submission for copying invite link to clipboard
    document.getElementById( 'inviteForm' ).addEventListener( 'submit', function ( e ) {
        e.preventDefault();
        const numInvites = document.getElementById( 'num_invites' ).value;
        const expiration = document.getElementById( 'expiration' ).value;
        console.log( "Fetching invite link with properties: ", numInvites, expiration );
        fetch( "{% url 'communities:generate_invite' community.id %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify( {
                num_invites: numInvites,
                expiration: expiration,
                link_type: 'join'
            } )
        } )
            .then( response => response.json() )
            .then( data => {
                // append invite link to domain
                data.invite_link = window.location.origin + data.invite_link;
                copyToClipboard( data.invite_link );
                alert( 'Invite link copied to clipboard!' );
                // Close the dropdown menu
                closeDropdownMenu();
            } )
            .catch( error => {
                console.error( 'Error:', error );
            } );
    } );

    document.getElementById( 'anonymousForm' ).addEventListener( 'submit', function ( e ) {
        e.preventDefault();
        const numSubmissions = document.getElementById( 'num_submissions' ).value;
        const expiration = document.getElementById( 'anon_expiration' ).value;
        fetch( "{% url 'communities:generate_invite' community.id %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify( {
                num_invites: numSubmissions,
                expiration: expiration,
                link_type: 'anon'
            } )
        } )
            .then( response => response.json() )
            .then( data => {
                // append invite link to domain
                data.sub_link = window.location.origin + data.invite_link;
                copyToClipboard( data.sub_link );
                alert( 'Submission link copied to clipboard!' );
                // Close the dropdown menu
                closeDropdownMenu();
            } )
            .catch( error => {
                console.error( 'Error:', error );
            } );
    } );

    // Function to close the dropdown menu
    function closeDropdownMenu() {
        const dropdownMenu = document.querySelector( '.dropdown-menu' );
        dropdownMenu.classList.add( 'hidden' );
    }

    // Close the dropdown menu when clicking outside
    document.addEventListener( 'click', function ( event ) {
        const dropdownMenu = document.querySelector( '.dropdown-menu' );
        const dropdownButton = document.querySelector( '.dropdown-toggle' );

        if ( !dropdownButton.contains( event.target ) && !dropdownMenu.contains( event.target ) ) {
            closeDropdownMenu();
        }
    } );
</script>
{% endblock %}