{% extends "base.html" %}
{% block content %}
    <div class="container mx-auto mt-8">
        <form method="post"
              action="{% url 'communities:join_community' %}"
              class="max-w-md mx-auto bg-lc-800 shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            <h2 class="mb-2 text-xl text-center text-white">Join a Community</h2>
            <div class="mb-4">
                <label for="name" class="block text-white font-bold mb-2">Community Name:</label>
                <input type="text"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-white bg-lc-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="name"
                       name="name"
                       required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-white font-bold mb-2">Community Password:</label>
                <input type="text"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-white bg-lc-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="password"
                       name="password"
                       required>
            </div>
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <button type="submit"
                    class="bg-gray-500 text-white font-bold py-2 px-4 rounded hover:bg-orange-800 hover:text-lc-700 focus:shadow-outline transition duration-150 ease-in-out">
                Join Community
            </button>
        </form>
    </div>
{% endblock %}
